body{
    background: #ffffff;
}

.top{
    background: #5ebf18;
    padding: 10px;
    color: #fef8ec;
}

button{
    width: 100%;
}

footer{
    position: absolute; /*设定footer绝对位置在底部*/
    bottom: 0;
    width: 100%; /*展开footer宽度*/
    line-height: 40px;
}

.id{
    width: 160px;
}
